/*///////// Corps /////////*/
body {
	background-image: url(../Images/backTennis.jpeg); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}

mark{
	background-color: ghostwhite;
}

em{
	text-decoration: underline;
}

/*///////// img principal /////////*/
.imgJO{
	width: 500px;
}

/*///////// texte /////////*/
p, a, summary, details, td, th{
	font-family: "Mapolice";
}

/*///////// section et article /////////*/
section{
	display: flex;
	flex-direction: column;
	/*flex-basis: 638px;*/
	align-items: center;
	background-color: rgba(135, 206, 250, 0.5);
}

article{
	flex-direction: row;
	background-color: rgba(135, 206, 250, 0.5);
}

/*///////// header et footer /////////*/
header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	position: relative;
	top: 15px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	display: flex;
	background-color: grey;
	padding: 45px;
}

#footerBut{
	position: relative;
	font-size: 110%;
	margin: auto;
}

#signature{
	background-color: grey;
	position: absolute;
	right: 5px;
	bottom: 0px;
	font-size: 90%;
	color: #fff;
}

/*///////// h2 /////////*/
h2
{
	width: 40%;
	justify-content: center;
	background: linear-gradient(to right, blue 15%, yellow 30%, grey 50%, green 65%, red 80%);
	/*margin-right: 550px;
	margin-left: 550px;*/
	border-radius: 20px;
}
/*///////// tableaux /////////*/
td, th, caption
{
	border: 1px solid black;
}
caption{
	margin-bottom: 2px;
}
/*///////// lien /////////*/
a {
	color:  black;
	background-position: center;
	margin: 5px auto;
}

/*///////// Bar nav /////////*/
nav{
	width: 100%;
	margin: 0 auto;
	/*background-color: rgba(0, 0, 0, 0.7);*/
	position: static;
	top: 0px;
	/*background: linear-gradient(to right, blue 15%, yellow 30%, grey 50%, green 65%, red 80%);*/
	animation-name: anim;
  animation-duration: 10s;
  animation-timing-function: linear;
 	animation-delay: 0s;
  animation-iteration-count: infinite;
	border-radius: 20px;
}
@keyframes anim {
  0%   {background-color:red; /*left:0px; top:0px;*/}
  25%  {background-color:yellow; /*left:200px; top:0px;*/}
  50%  {background-color:blue; /*left:200px; top:200px;*/}
  75%  {background-color:green; /*left:0px; top:200px;*/}
  100% {background-color:red; /*left:0px; top:0px;*/}
}

nav ul
{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0px 5px 0px 5px;
}

nav ul li {
	width: 25%;
	text-align: center;
	position: relative;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: orangered;
	border-bottom: 2px solid gold;
}

.sous{
	padding-left: 0px;
	display: none;
	box-shadow: 0px 1px 2px #CCC;
	background-color: white;
	position: absolute;
	width: 100%;
	z-index: 1000;
	background: linear-gradient(to right, lightblue 50%, green 75%, yellow 100%);
	
}
nav > ul li:hover .sous{
	display: block;
}
.sous li{
	flex: none;
	width: 100%;
	text-align: left;
}
.sous a{
	padding: 10px;
	border-color: rgba(200, 200, 200, 0.1);
}
.deroulant > a::after{
	font-size: 12px;
}
.borduredroit{
	border-right: 3px solid black;
}
.menua{
	text-shadow: 1px 1px 2px red,
			0 0 1em blue,
			0 0 0.2em blue;
}

/*///////// Bouton retourne page d'accueil /////////*/

.ButtonPagePrincipal{
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	} 
.ButtonPagePrincipal:hover{ 
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

@font-face{
	font-family: "Mapolice";
	src:  url("SyneMono-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}